body {
    max-width: 2000px;
    font-size: 110%;
    display: block;
}
#all{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
header {
    border: 1px solid;
    background-color: #333333;
    color: #ffffff;;
}
header h1{
    text-align: center;
}
header ul {
    text-align: center;
}
header ul li{
    display: inline;
    padding: 20px;
}
header ul li a {
    text-decoration: none;
    text-align: center;
    display: inline;
    color: #ffffff;
}
#left {
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 5px;
    width: 75%;
    height: 500px;
    float: left;
    padding: 20px;
}
#right {
    background-color: #f2f2f2;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin: 10px;
    width: 17%;
    height: 535px;
    float: left;
    font-size: larger;
}
footer{
    clear: both;
    border: 1px solid;
    background-color: #333333;
    color: #ffffff;;
    text-align: center;
    height: 40px;
    font-size: 120%;
}
