*{
    font-family: 'Times New Roman', Times, serif;

}
.top{
    top: 0;
    height: 110px;
    z-index: 1;
    border: 0px;
    background-color: rgba(8, 5, 5, 0.738);
    color: white;
}
h3 {
    margin: 30px;
}
ul li {
    text-decoration: none;
    display: inline;
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 20px;
}
ul li a:hover{
    background-color: rgb(255, 0, 0);
}
.magic-of-trees{
    padding: 30px;
    text-align: center;
    background-color: rgb(104, 192, 243);
    height: 140px;
    line-height: 60px;
}
.magic-of-trees h2 {
    color: white;
    margin: 0;
}
.magic-of-trees a {
    text-decoration: none;
    border: 1px ;
    padding: 5px;
    background-color: rgb(232, 111, 111);
    color: white;
}
.magic-of-trees a:hover{
    background-color: rgb(255, 0, 0);
}
.about-trees{
    border: 0px solid;
    background-color: rgb(222, 221, 221);
    height: 200px;
    line-height: 60px;
    text-align: center;
}
.about-trees h3 {
    margin: 0;
}
section.tree-gallery{
    text-align: center;
}
footer{
    border: 0px solid;
    padding: 10px;
    height: 50px;
    background-color: rgba(8, 5, 5, 0.738);
    color: white;
    text-align: center;
}